<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title><%= CONFIG['title'] %></title>
        <link><%= CONFIG['public_url'] %></link>
        <description><%= CONFIG['description'] %></description>
        <language>en-us</language>
        <generator>Sinatra and ERB</generator>
    
        <% ALL_THINGIES[0..9].each do |thingie| %>
        <item>
            <title><%= thingie.title %></title>
            <link><%= CONFIG['rss_url_prefix'] %><%= thingie.permalink %></link>
            <description><%= thingie.escaped_html %></description>
            <pubDate><%= thingie.created_at.rfc2822 %></pubDate>
        </item>
        <% end %>
    </channel>
</rss>